syntax: glob
notebooks/.ipynb_checkpoints/*
*.egg-info/*
*.pyc
.vscode/*
.eggs/*
.pytest_cache/*
build/*
dist/*
.coverage
notebooks/*.csv
notebooks/temp.json
notebooks/unsloth_compiled_cache/*.py
unsloth_compiled_cache/*
notebooks/grpo_trainer_lora_model/adapter_config.json
