tyro
ipykernel
matplotlib
numpy
tqdm
tqdm-joblib
torch
torchvision
torchaudio
vllm==0.10.1.1
accelerate==1.10.1
wandb
transformers
peft
trl==0.23.0
datasets
bitsandbytes
GPUtil
pytest
coverage
termcolor
scikit-learn
scikit-image
ipywidgets
tensorboard
nvidia-ml-py3
wheel
setuptools
cmake
# deepspeed
nvidia-ml-py
opencv-python
liger-kernel
unsloth==2025.9.3