tyro
ipykernel
matplotlib
numpy
tqdm
torch
torchvision
torchaudio
vllm==0.8.5
accelerate==1.6.0 # try to fix problems with pickle: AttributeError: Can't pickle local object 'SFTTrainer._prepare_dataset.<locals>.add_eos'
wandb
transformers
peft
trl==0.18.0 # try to fix problems with pickle: AttributeError: Can't pickle local object 'SFTTrainer._prepare_dataset.<locals>.add_eos'
datasets==3.5.1 # try to fix problems with pickle: AttributeError: Can't pickle local object 'SFTTrainer._prepare_dataset.<locals>.add_eos'
bitsandbytes
GPUtil
pytest
coverage
termcolor
scikit-learn
scikit-image
ipywidgets
tensorboard
nvidia-ml-py3
wheel
setuptools
cmake
deepspeed
pynvml
opencv-python