tyro
ipykernel
matplotlib
numpy
tqdm
torch
torchvision
torchaudio
vllm==0.8.5
accelerate
wandb
transformers
peft
trl
datasets
bitsandbytes
GPUtil
pytest
coverage
termcolor
scikit-learn
scikit-image
ipywidgets
tensorboard
nvidia-ml-py3
wheel
setuptools
cmake
deepspeed
pynvml